<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */

?>
<button class="configurator">Configurator</button>
<div class="product-addto-links" data-role="add-to-links">
    <?= $block->getChildHtml() ?>
</div>
<div id="configurator-modal">
    <div class="image">
        <canvas id="shape"></canvas>
    </div>
    <div class="options">
        <div class="dd-text-uploaded"></div>
        <div class="options-text">
            <input class="dd-text" type="text"/>
            <select class="font-selector">
                <option value="font-1">Times New Roman</option>
                <option value="font-2">Muller</option>
                <option value="font-3">TCM</option>
            </select>
            <button class="add-text">Add text to configurator</button>
        </div>
        <div class="option-image">
            <div class="contain animated bounce">
                <form id="form1" runat="server">
                    <div class="alert"></div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" id="texture-input" class="imgInp custom-file-input"
                                   aria-describedby="inputGroupFileAddon01">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
       {
           "*": {
               "configurator": "",
               "threeDModel": ""
           }
       }

</script>
