@font-face {
    font-family: $font-family-muller;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/MullerLight.otf') format('opentype');
}

@font-face {
    font-family: $font-family-tcm;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../../fonts/TCM.ttf');
}
