@import './variables';
@import './fonts';

.dd-text-uploaded {
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    left: 22%;
    position: absolute;
    top: 50%;

    &.font-2 {
        font-family: $font-family-muller;
    }

    &.font-3 {
        font-family: $font-family-tcm;
    }

    &.font-1 {
        font-family: 'Times New Roman';
    }
}

#configurator-modal {
    display: none;
}

#texture-preview {
    max-height: 200px;
    max-width: 200px;
}

.image {
    height: 500px;
    position: relative;
    width: 500px;

    .texture-on-image {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
