@font-face {
  font-family: "MullerLight";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/MullerLight.otf") format("opentype"); }

@font-face {
  font-family: "Tw Cen MT";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../fonts/TCM.ttf"); }

.dd-text-uploaded {
  cursor: pointer;
  display: inline-block;
  font-size: 50px;
  left: 22%;
  position: absolute;
  top: 50%; }
  .dd-text-uploaded.font-2 {
    font-family: "MullerLight"; }
  .dd-text-uploaded.font-3 {
    font-family: "Tw Cen MT"; }
  .dd-text-uploaded.font-1 {
    font-family: 'Times New Roman'; }

#configurator-modal {
  display: none; }

#texture-preview {
  max-height: 200px;
  max-width: 200px; }

.image {
  height: 500px;
  position: relative;
  width: 500px; }
  .image .texture-on-image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
